@import '../../styles/variables.scss';

.sider-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 17.5rem;
    background-color: $white;
    box-shadow: .125em .125em .3em rgba(0,0,0,.15);
    .logo {
        padding: 1em;
        height: 1em;
        font-size: 1.375rem;
        line-height: 1em;
        opacity: .54;
        color: $black;
    }
    .menu {
        list-style: none;
        padding-left: 0;
        font-size: .9em;
        color: $gray;
        cursor: pointer;
    }
    .menu-item {
        padding: 1em 2em;
        &:hover {
            color: $gray-dark;
            background-color: $app-bg-color;
        }
    }
    .menu-item-text {
        margin-left: 3em;
    }
}
