@import '../../../../styles/mixins/mixins.scss';
@import '../../../../styles/variables.scss';

.wrap {
    box-sizing: border-box;
    font-size: 1.25rem;
    .header {
        @include editorViewCard;
        margin: 176px auto 0 auto;
        padding-top: 1.6rem;
        &:focus {
            outline: none;
            border-left-color: $blue;
        }
        .title {
            @include input;
            height: 1.6em;
            font-size: 2rem;
            &:focus {
                border-bottom: 1.5px solid $brand-primary;
            }
        }
        .description {
            @include textarea(.5px solid $edit-input-underline-color);
            width: 100%;
            margin-top: 1.5em;
            font-size: .875rem;
            &:empty::before {
                content: attr(placeholder);
                display: inline-block;
                color: $gray-light;
            }
            &:focus {
                border-bottom: 1.8px solid $brand-primary;
            }
        }
    }
    .menu {
        position: fixed;
        left: 5%;
        bottom: 0;
        width: 90%;
        font-size: 1.4rem;
        color: $edit-icon-color;
        background-color: $white;
        box-shadow: 0 1px 6px #616161;
        @media all and (min-width: 640px) {
            top: 30%;
            right: 15%;
            bottom: auto;
            left: auto;
            width: 3rem;
        }
        .menu-item {
            cursor: pointer;
            @media all and (max-width: 640px) {
                display: inline-block;
                width: 33%;
            }
        }
        .add-question {
            width: 2em;
            height: 2.25em;
            margin: 0 auto;
            line-height: 2.25em;
            text-align: center;
            &:focus {
                outline: none;
            }
            .radio-button, .checkbox-button, .text-button {
                font-weight: bolder;
            }
        }
    }
    .placeholder {
        background-color: $edit-bg-color;
        box-shadow: 2px 0 2px -2px rgba(0,0,0,.12),
                   -2px 0 2px -2px rgba(0,0,0,.12);
    }
}
