@import '../../../../styles/mixins/mixins.scss';
@import '../../../../styles/variables.scss';

.wrap {
    box-sizing: border-box;
    font-size: 1.25rem;
    .header {
        @include editorViewCard;
        margin: 176px auto 0 auto;
        padding-top: 1.6rem;
        &:focus {
            outline: none;
            border-left-color: $blue;
        }
        .title {
            @include input;
            height: 1.6em;
            font-size: 2rem;
            &:focus {
                border-bottom: 1.5px solid $brand-primary;
            }
        }
        .description {
            @include textarea(.5px solid $edit-input-underline-color);
            width: 100%;
            margin-top: 1.5em;
            font-size: .875rem;
            &::before {
                content: attr(data-content);
                color: $gray-light;
            }
            &:focus {
                border-bottom: 1.8px solid $brand-primary;
            }
        }
    }
    .menu {
        position: fixed;
        width: 3rem;
        color: $edit-icon-color;
        background-color: $white;
        .add-question {
            width: 2em;
            height: 2.25em;
            margin: 0 auto;
            line-height: 2.25em;
            text-align: center;
            &:focus {
                outline: none;
            }
        }
    }
    .placeholder {
        background-color: $edit-bg-color;
        box-shadow: 2px 0 2px -2px rgba(0,0,0,.12),
                   -2px 0 2px -2px rgba(0,0,0,.12);
    }
}
