$brand-primary: #673ab7 !default;

$white:         #fff    !default;
$black:         #000    !default;
$gray:          #555    !default;
$gray-lighter:  #ccc    !default;
$gray-light:    #8E8E93 !default;
$gray-white:    #F5F5F5 !default;
$gray-darker:   #333    !default;
$gray-dark:     #222    !default;
$blue:          #4285f4 !default;

$menu-z-index: 1;

$edit-bg-color: #ede7f6 !default;
$edit-z-index:    -1      !default;
$app-bg-color:  #eee    !default;
$app-bg-z-index:  -1      !default;

$edit-top-height: 11rem   !default;
$edit-area-width: 56%     !default;

$edit-icon-color: rgba(0,0,0,0.54);
$edit-input-underline-color: rgba(0,0,0,.12);
$edit-delete-button-color:       #cc9a9a;
$edit-delete-button-hover-color: #af5b5e;
