@import '../../../../styles/mixins/mixins.scss';
@import '../../../../styles/variables.scss';

.main {
    @include editorViewCard;
    padding-bottom: .2em;
    transition: all .3s ease;
    &:focus {
        outline: none;
    }
    input {
        @include input;
        width: 70%;
    }
    .drag-handle {
        height: 1.835rem;
        line-height: 1.835rem;
        text-align: center;
        font-size: .875rem;
        color: $gray-lighter;
        cursor: move;
    }
    .title {
        display: inline-block;
        font-size: 1.25rem;
        height: 1.5em;
        &:focus {
            border-bottom: 1.5px solid $brand-primary;
        }
    }
    .type-chooser {
        box-sizing: border-box; 
        display: inline-block;
        position: relative;
        margin-left: 5%;
        vertical-align: bottom;
        font-size: .95rem;
        border-radius: 3px;
        color: $gray;
        cursor: pointer;
        background: $gray-white;
        &:hover {
            .menu-types {
                display: inline-block;
            }
        }
        &:focus {
            outline: none;
        }
        .type {
            padding: .8em 1.5em;
            .content {
                margin: 0 2em 0 .5em;
            }
        }
        .type-item {
            padding: .8em 1.5em;
            list-style: none;
            &:hover {
                background-color: $gray-white;
            }
            &:focus {
                outline: none;
            }
            .radio-button, .checkbox-button, .text-button {
                font-weight: bolder;
            }
            .content {
                margin: 0 2.7em 0 .5em;
            }
        }
    }
    .item {
        display: flex;
        align-items: center;
        height: 2.6em;
        &:hover {
            .delete-option {
                display: block;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .option {
        flex: 1;
        height: 1.8em;
        border-bottom: none;
        font-size: .8125rem;
        &:hover {
            border-bottom: .5px solid $edit-input-underline-color;
        }
        &:focus {
            border-bottom: 1.8px solid $brand-primary;
        }
    }
    .textarea {
        margin: 1em 0 2em 0;
        .text {
            width: 83%;
            font-size: .875rem;
            line-height: 1em;
            color: rgba(0,0,0,0.38);
            border-bottom: .5px dotted rgba(0,0,0,.52);
        }
    }
    .other {
        @extend .option;
        color: $gray-lighter;
    }
    .add-option {
        font-size: .8125rem;
        color: #4285f4;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    .conjunction {
        margin: 0 .2em;
        font-size: .8125rem;
    }
    .symbol-radio {
        @include optionIcon(.8em, $gray-lighter, 50%);
        margin-right: .7em;
    }
    .symbol-checkbox {
        @include optionIcon(.8em, $gray-lighter, .15em);
        margin-right: .7em;
    }
    .delete-option {
        display: none;
        font-size: 1.4em;
        color: $edit-delete-button-color;
        cursor: pointer;
        &:hover {
            color: $edit-delete-button-hover-color;
        }
        &::after {
            content: 'x';
        }
    }
    .add {
        @extend .item;
    }
    .control {
        display: none;
        margin-top: 1em;
        width: 100%;
        border-top: 1px solid $edit-input-underline-color;
        overflow: hidden;
        .footer-right {
            float: right;
            > div {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                font-size: 22px;
                text-align: center;
                line-height: 3rem;
                color: $edit-icon-color;
                cursor: pointer;
            }
            .copy-question {
                &:focus {
                    outline: none;
                }
            }
            .delete-question {
                &:focus {
                    outline: none;
                }
            }
            .required-toggle {
                margin-top: -2px;
                width: 4em;
                vertical-align: bottom;
                font-size: 1rem;
                .required {
                    display: inline-block;
                    margin: 0 .5em;
                    width: 1em;
                    height: 1em;
                    vertical-align: middle;
                }
            }
        }
    }
}

.edit-active {
    > .add {
        display: flex;
    }
    > .control {
        display: block;
    }
    border-left-color: $blue;
    box-shadow: 5px 0 4px -4px rgba(0,0,0,.24),
                -5px 0 4px -4px rgba(0,0,0,.24),
                0 15px 10px -10px rgba(0,0,0,.4),
                0 -7px 6px -6px rgba(0,0,0,.4);
}

:global(.hidden) {
    display: none;
}
