@import '../../styles/variables.scss';
@import '../../styles/mixins/mixins.scss';

.homescreen {
    margin: 4rem auto;
    width: 100%;
    @media all and (min-width: 640px) {
        width: 67%;
    }
    .header {
        height: 3.5em;
        font-size: .875rem;
        color: $gray;
        .recent {
            display: inline-block;
            width: 50%;
            line-height: 3.5em;
            @media all and (max-width: 640px) {
                margin-left: 1.5em;
            }
        }
        .menu-bar-right {
            float: right;
            height: inherit;
            line-height: 3.5em;
            padding-right: 2em;
            .add-form-btn {
                padding: 0;
                font-size: .9em;
            }
        }
    }
    .docs-item-empty {
        margin-top: -1.2em;
        height: 8em;
        font-size: 1.125rem;
        text-align: center;
        background-color: $white;
        border-radius: .12em;
        box-shadow: 0 .055em .167em rgba(0,0,0,.1);
        .note {
            padding-top: 1.5em;
            margin-bottom: .7em;
            font-size: 1.25rem;
            font-weight: 400;
            color: $gray-dark;
        }
    }
    .add-form-btn {
        @include button;
        display: inline-block;
        padding: 0;
        width: 7em;
        height: 2.5em;
        line-height: 2.6em;
        font-size: 1.125rem;
        letter-spacing: .0625em;
        color: $white;
        border-radius: .11em;
        background-color: #ff5252;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                    0 1px 5px 0 rgba(0,0,0,0.12), 
                    0 3px 1px -2px rgba(0,0,0,0.2);
        &:hover {
            background-color: #E57373;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 
                        0 1px 7px 0 rgba(0,0,0,0.12), 
                        0 3px 1px -1px rgba(0,0,0,0.2);
        }
    }
    .form-list {
        width: 100%;
        color: $black;
        font-size: .875rem;
        border-collapse: collapse;
        .title {
            display: inline-block;
            width: 100%;
            line-height: 3rem;
            cursor: pointer;
        }
        .form-icon {
            padding-left: 1.5em;
            color: $brand-primary;
        }
        .title-text {
            padding-left: 1em;
            color: $black;
            &:hover {
                color: $brand-primary;
            }
        }
        .state {
            color: $gray;
        }
        .deadline {
            color: $gray;
        }
        .dropdown {
            &:focus {
                outline: none;
            }
            .dropdown-menu {
                margin-top: .8em;
                margin-left: -12.7em;
            }
            .dropdown-button {
                display: block;
                width: 2em;
                height: 2em;
                line-height: 2em;
                color: $gray-light;
                text-align: center;
                border-radius: 50%;
                &:hover {
                    color: $brand-primary;
                    background-color: $gray-white;
                }
            }
            .rename-button, .delete-button, .release-button {
                display: inline-block;
                padding: .5em 1.2em;
                font-size: 1.2rem;
                color: $gray;
                &:hover {
                    color: $black;
                    background-color: $gray-white;
                }
                .icon-text {
                    display: inline-block;
                    padding: 0 6em 0 1em;
                    width: 4em;
                    font-size: .8rem;
                    color: $black;
                    vertical-align: .2em;
                }
            }
        }
    }
}
